.page-principal {



    aside {
        border-top: 1px solid #835a15;




        .banner-principal {
            height: 800px;

            img {
                width: 100%;
                height: 100%;
                // padding: 0;
                // margin: 0;
            }

            @media(max-width: 500px) {
                margin-top: auto;


            }

        }

    }






}