#section {
    //#835adf;  #202024;
    $bg-color: #141318;
    $bg-color2: #835a15;
    $bg-container-a: #1d1b20;
    $bg-expert: #d6d2dda8;


    $text-color: #fff;
    $text-color2: black;

    aside {
        height: 900px;
        background: $bg-color2;
        text-align: center;
        color: $text-color;
        border-top: 0.3px solid #d6d2dda8;


        @media(max-width: 500px) {
            height: 1300px;


        }




    }

    @mixin box-shadow($color) {

        box-shadow: 1px 1px 2px 1px $color;
        border-top-right-radius: 25%;
        border-bottom-left-radius: 25%;
        // margin: 0;
        margin-top: 170px;
        margin-bottom: 0;
    }

    .titulo-contato,
    h1 {
        display: inline-block;
        height: 30px;
        position: relative;
        text-align: center;
        font-size: 30px !important;
        margin-top: 1px;
        padding: 1px;

        h2 {
            display: block;
            text-align: center;
            height: 5px;
            font-size: 20px;
            margin-top: 1px;
            padding: 1px;


        }

        @media(max-width: 500px) {

            .titulo-contato h1 {
                text-align: center;
                text-align: justify;

            }

        }


    }



    .container-a {


        width: 650px;
        margin: 2 !important;
        margin-top: 30px;

        p {
            text-align: justify;
            line-height: 1.5;



        }

        @media(max-width: 500px) {
            display: inline;
            position: relative;

            .titulo-contato h1 {
                display: inline;


            }

        }



    }

    .container-b {

        position: absolute;
        text-align: center;
        width: 650px;
        max-width: 100%;
        margin-top: 15px;

        border-top-right-radius: 25%;

        .escritorio {

            img {
                @include box-shadow(#d6d2dda8);
                position: relative;
                height: 50%;
                width: 100%;
                border-top-right-radius: 25%;
                border-bottom-left-radius: 25%;

                @media (max-width: 500px) {
                    @include box-shadow(#d6d2dda8);
                    position: relative;
                    height: 50%;
                    width: 100%;
                    border-top-right-radius: 25%;
                    border-bottom-left-radius: 25%;
                    margin-top: 5px;

                }



            }
        }

        @media (max-width: 500px) {
            display: inline;
            position: relative;
            padding: 25px;



        }


    }

    @media(max-width: 500px) {
        display: inline;
        position: relative;

        p {
            padding: 10px;
        }
    }



}